@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 2em;
  color: #3d3d3d;
  --mdc-theme-primary: #007f8b;
  --mdc-theme-on-primary: #f1f3f4;
}

h1 {
  color: #007f8b;
}

h2 {
  clear: both;
}

video {
  display: block;
  transform: rotateY(180deg);
  max-width: 100%;
  height: auto;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-top: 15%;
  margin-left: 10%;
}

#webcamButton.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.videoView {
  position: relative;
  width: 50%;
  max-width: 600px;
  margin: 0 auto 20px;
  cursor: pointer;
}

.detectOnClick p,
.videoView p {
  position: absolute;
  background-color: #007f8b;
  color: #fff;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  position: absolute;
}

.key-point {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #ff0000;
  border-radius: 50%;
  display: block;
}

#webcamButton {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 30%;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#webcamButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#webcam {
  border-radius: 5%;
  width: 100%;
  height: auto;
}

.ok {
  margin: 3% auto;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: #f1f3f4;
  color: #3d3d3d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tick {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .videoView,
  .ok {
    float: left;
    width: 45%;
    margin-left: 5%;
  }

  .videoView {
    margin-right: 5%;
  }

  .ok {
    margin-left: 0;
    margin-right: 5%;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 3em;
  }

  .videoView,
  .ok {
    width: 30%;
  }

  .ok {
    margin-left: 5%;
    margin-right: 0;
  }
}
